* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Forum', cursive;
font-family: 'Lato', sans-serif;
}

ul, ol{
    list-style-type: none;
}

a {
    text-decoration: none;
}

header.masthead {
  padding-bottom: 5em;
}

header.masthead2 {
    padding-bottom: 2em;
}

.container-fluid#encabezado {
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 1rem;
}

nav.navbar.navbar-expand-lg {
    background: linear-gradient(to right, rgb(58,41,105), 80%, rgb(222, 192, 255));
}

a.navbar-brand {
    color:white;
    font-weight:bold;
}

a.nav-link {
    color:rgb(255, 255, 255);
}

div.imagen {
    background-color: #f3ffeb;
    padding: 10rem 5rem 5rem 5rem;
}
 
h3 {
    font-weight: bold;
    padding:1em;
    color:black;
}

h4.h4 {
    font-weight: bold;
    padding-bottom:1em;
    color:black;
    text-align: center;
}
h5.card-title {
    font-weight: bold;
    padding-bottom:1em;
    color:black;
}

p.lead {
    font-size:medium;
}

h4 {
    padding: 4rem 0rem 3rem 0rem;
    background-color: #f3ffeb; 
}

.container {
    background-color: #f3ffeb; 
}
 
#portfolio, #presentacion, #aboutMe, #educacion, #experiencia, #softSkills, #hardSkills {
    background-color: #f3ffeb; 
    padding-bottom: 1em;
}

#experiencia, #educacion {
    display:flex;
    justify-content:center;
    align-items:center;
}

#sobreMi {
    padding-top:6rem;
}

#logo {
    padding-top: 1em;
    display: grid;
    place-content: center;
}

#softSkills, #hardSkills {
    padding-left: 15em;
    padding-right: 15em;
}

#copyright {
    background: linear-gradient(to right, rgb(58,41,105), 80%, rgb(222, 192, 255));
    color:white;
}
 p.card-text {
    margin: 0;

}

@media (max-width: 576px) {
   div.imagen {
        width: 100%;
        padding: 10rem 2rem 2rem 2rem;
    } 

    * {
font-size:small;
    }

    h5.card-title, p.card-text{
        text-align: center;
    }

    a.card-text {
display:flex;
justify-content: center;
align-items: center;
    }

    #softSkills, #hardSkills {
        padding-left: 1em;
        padding-right: 1em;
    }
 }
